{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Update a New Todo</h2>

    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>
    </div>
    <div>
        <label for="complete">Complete:</label>
        <input type="checkbox" name="complete" id="complete">
    </div>
    <div>
        <label for="exp">Experience Points</label>
        <input type="number" name="exp" id="exp" min="0">
    </div>

    <button type="submit" id="todoUpdate">Update</button>
</div>

<script>
document.addEventListener("DOMContentLoaded", init);

function init(){
    // URL에서 pk(기본키)추출 -> /todo/update/5/ --> 5
    const pk = getTodoId(); // pk를 가져오는 함수
    loadTodoIntoForm(pk);
    bindUpdateBtn(pk);
}

function getTodoId(){
    return window.location.pathname.split("/").filter(Boolean).pop();
    // todo/update/5/ -> ["", "todo", "update", "5", ""] -> ["todo", "update", "5"] -> "5"
}

function loadTodoIntoForm(pk){
    axiosInstance
    .get(`/todo/viewsets/view/${pk}/`) // 엔드포인트: url 주소 호출
    .then(res => {
        populatForm(res.data)
        console.log("res??", res) // 전체 응답 데이터
        console.log("data??", res.data) // 받아온 데이터를 form에 채움
    })
    .catch(() => console.error('로딩실패', err));
}

function populatForm(data){
    document.getElementById("name").value = data.name;
    document.getElementById("description").value = data.description;
    document.getElementById("complete").checked = data.complete;
    document.getElementById("exp").value = data.exp;
}


function bindUpdateBtn(pk){
    const btn = document.getElementById("todoUpdate");
    if(!btn) return;
    btn.addEventListener("click", () => handleUpdate(pk));
}

function handleUpdate(pk){
    const payload = {
        name: document.getElementById("name").value,
        description: document.getElementById("description").value,
        complete: document.getElementById("complete").checked,
        exp: Number(document.getElementById("exp").value),
    };

    axiosInstance
        .patch(`/todo/viewsets/view/${pk}/`, payload)
        .then(() => redirectToDetail(pk))
        .catch(err => {
            console.error('로딩실패', err);
            alert("Todo 수정에 실패했습니다.");
    });
}

function redirectToDetail(pk){
    window.location.href = `/todo/detail/${pk}/`
}
</script>
{% endblock %}